/* Global Styles */
:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.chip .material-icons {
  font-size: 20px;
  line-height: 1.6;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.marginLect {
  margin-left: 1rem;

}

.marginBottom {
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 5%;
}

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

nav {
  background-color: transparent !important;
  box-shadow: unset !important;
}

nav ul a {
  color: #2B3595 !important;
}

body {
  overflow-x: hidden;
}

.btn {
  background: #2B3595 !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  box-shadow: 0 0 0 1px #2B3595 !important;
}

.pagination li.active {
  background: #2B3595 !important;
}

.blobBigImg {
  height: 110%;
  width: 160%;
}

.blobSmallImg {
  height: 300px;
  width: 100%
}

.smallBlobContainer {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: -20%;
}

.bigBlobContainer {
  position: fixed;
  z-index: -1;
  top: -40%;
  right: -5%;
}


@media screen and (max-width: 992px) {
  .smallBlobContainer {
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: -35%;
  }

  .bigBlobContainer {
    position: fixed;
    z-index: -1;
    top: -40%;
    right: -25%;
  }
}

@media screen and (max-width: 600px) {
  .smallBlobContainer {
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: -40%;
  }

  .bigBlobContainer {
    position: fixed;
    z-index: -1;
    top: -64%;
    right: -20%;
  }



  .blobSmallImg {
    height: 80%;
    width: 60%
  }

  .fab {
    line-height: 2
  }
}